<nav aria-label="Page navigation">
  <ul class="pagination">
    <% if collection.previous_page %>
      <li class="page-item">
        <%= link_to raw('&laquo;'), url_for(page: collection.previous_page), class: 'page-link', aria_label: 'Previous' %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Previous">&laquo;</a>
      </li>
    <% end %>

    <% collection.each do |item| %>
      <li class="page-item <%= 'active' if item == collection.current_page %>">
        <%= link_to item, url_for(page: item), class: 'page-link' %>
      </li>
    <% end %>

    <% if collection.next_page %>
      <li class="page-item">
        <%= link_to raw('&raquo;'), url_for(page: collection.next_page), class: 'page-link', aria_label: 'Next' %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Next">&raquo;</a>
      </li>
    <% end %>
  </ul>
</nav>
