
    <%= render 'shared/menu' %>
<div class="container">
    <% if characters.present? %>
  <h2>Characters by <%= @publisher.name %></h2>
  <ul>
    <% characters.each do |character| %>
      <li>
        <%= link_to character.name, character_path(character) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="text-center">
        No characters found.
    </div>
<% end %>

</div>