
    <%= render 'shared/menu' %>
<div class="container">
    <% if comic_books.present? %>
  <h2>Comic Books by <%= @publisher.name %></h2>
  <ul>
    <% comic_books.each do |comic_book| %>
      <li>
        <%= link_to comic_book.name, comic_books_show_path(comic_book) %>
      </li>
    <% end %>
  </ul>
<% else %>
    <div class="text-center">
        No comic books found.
    </div>
<% end %>
</div>