
    <%= render 'shared/menu' %>

    <div class="container">
    <h1>About AnimeWorld</h1>

    <p>AnimeWorld is a website that provides a dataset of comic characters and publishers.</p>

    <p>Dataset Formats:</p>
    <ul>
        <li>Characters: JSON</li>
        <li>Publishers: JSON</li>
    </ul>

    <p>Data Sources:</p>
    <ul>
        <li>Characters: <a href="https://comicvine.gamespot.com/api/characters/?api_key=7e24bc3842ca1a7a8613c14172b484c34f988e62&format=json">https://comicvine.gamespot.com/api/characters/?api_key=7e24bc3842ca1a7a8613c14172b484c34f988e62&format=json</a></li>
        <li>Publishers: <a href="https://comicvine.gamespot.com/api/publishers/?api_key=7e24bc3842ca1a7a8613c14172b484c34f988e62&format=json">https://comicvine.gamespot.com/api/publishers/?api_key=7e24bc3842ca1a7a8613c14172b484c34f988e62&format=json</a></li>
    </ul>

    <p>Description:</p>
    <p>
        The Characters dataset contains information about comic characters, including their name, origin, description, and more details. The Publishers dataset provides information about publishers, including their name, description, and other info. By combining these datasets, AnimeWorld has created a database that contains character details along with their publisher's details.
    </p>

    <p>Faker Comic_Books:</p>
    <p>
        AnimeWorld also includes a Comic Book table, where comic books published by each publishers are enlisted using the Faker gem.
    </p>
    <p>Relationships:</p>
    <ul>
        <li>One Publisher has many Characters (One-to-Many: One Publisher, Many Characters)</li>
        <li>One Publisher has many ComicBooks (One-to-Many: One Publisher, Many ComicBooks)</li>
        <li>Each Character belongs to a Publisher (Many-to-One: Many Characters, One Publisher)</li>
        <li>Each ComicBook belongs to a Publisher (Many-to-One: Many ComicBooks, One Publisher)</li>
    </ul>
    <div class="text-center">
        <img src="<%= asset_path('IntroToRailsERD.jpg') %>" alt="ERD Image">
    </div>
    <p>Created by: Md Mahamudun Alam Mahin</p>
    </div>

