<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% @characters.each do |character| %>
    <h2><%= character.name %></h2>
    <p><%= character.deck %></p>
    <img src="<%= character.image_thumb %>" alt="<%= character.name %> Thumbnail">
    <% end %>
  </body>
</html>






